
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'Arial', sans-serif;
}


#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1620121692029-d088224ddc74?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg); /* Rotate the container, and thus the background image, by 180 degrees */
}
.content {
    width: 40%;
}


.form {
    display: flex;
   background-color:rgba(255,255,255,0.2);
    border-radius: 30px;
    border: solid rgba(255,255,255,0.18) 1px;
     z-index: -1;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
     justify-content: center;
     align-items: center;
     padding-top: 5%;
     padding-bottom: 5%;
}


.logo {
    display: flex;
    justify-content: center;
}

.form-content {
    width: 80%;
}

.form-content  > h1{
color: #ffffff;
font-size: 40px;
font-weight: 500;
text-align: center;
letter-spacing: 1px;
 text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}


#input-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 4px;
        box-sizing: border-box;
        padding-top: 2%;
    }

 #question{
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 100px;
        box-sizing: border-box;
         box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    }

    .second-input-row {
        display: flex;
        column-gap: 5%;
        width: 100%;
    }

    .select-row {
        width: 50%;
        
    }

    #databaseName {
        width: 100%; /* Same width as your input fields */
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 100px;
        box-sizing: border-box;
        background-color: white;
        cursor: pointer;
         box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        }

        #taskName {
        width: 50%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 100px;
        box-sizing: border-box;
         box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        }
    .upload {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        background-color: #8F9EF4;
        border-radius: 100px;
        box-sizing: border-box;
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        text-align: center;
    } 

input#file-upload-button {
    background-color: rgba(0,0,0,0.2) !important;
    padding: 50px !important;
}
  .submit-row {
    display: flex;
    column-gap: 5%;
  }
    #Submit {
        width: 50%;
        padding: 10px;
        margin: 10px 0;
        background-color: #00013A;
        color: white;
        border-radius: 100px;
        box-sizing: border-box;
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        text-align: center; 
         cursor: pointer;
    }

    #reset {
         width: 50%;
        padding: 10px;
        margin: 10px 0;
        background-color: rgba(0,0,0,0);
        color: white;
        border-radius: 100px;
        box-sizing: border-box;
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        text-align: center; 
        cursor: pointer;
    }

button:hover {
        background-color: #45a049;
    }

button:active {
        background-color: #3e8e41;
    }

    #handle {
        display: none;
    }
    #response{
        display: none;
        width: 70%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: white;
        color: #cecdcd;
       
    }

    @media screen and (max-width: 1280px) {
        .content {
    width: 70%; }
}

@media screen and (max-width: 700px) {
        .content {
    width: 90%;
}
.second-input-row {
     flex-direction: column !important;
}

.select-row {
    width: 100%;
}

#taskName {
    width: 100%;
}
}
